.carousel-container {
  display: flex;
  background: black;
  height: 30vh;
  vertical-align: center;
  align-items: center;
  padding: 100px 0 100px 0;
}

.carousel-title {
  color: white;
  width: 15%;
  text-align: center;
  font-size: 1rem;
  padding: 0 100px 0 100px;
}

.slide-container {
  margin: 1rem;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.slide-container > a > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 0.2s ease-in-out;
}

.slide-container:hover > a > img {
  opacity: 0.7;
}

.slide-desc {
  background-color: black;
  position: absolute;
  bottom: 5px;
  right: 0px;
  padding-left: 30px;
  border-top-left-radius: 20px;
  opacity: 0.8;
}

.slide-desc > span {
  color: white;
  display: block;
  font-size: 1rem;
  padding: 20px 10px 20px 10px;
}
